.me {
    width: 100%;
}

.content-container {
    padding-bottom: 50px;
}

h1 {
    color:blue;
    text-align: center;
}

.about-me-p {
    color:blue;
    font-size: 145%;
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 1440px) {
    p {
        font-size: 120%;
    }
}

@media (max-width: 976px) {
    p {
        padding-top: 15px;
    }
}

@media (max-width: 768px) {
    p {
        padding-top: 10px;
    }
}